<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Warehouse</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Warehouse</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/warehouse_orders">Active Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/supplier_orders">Supplier Page</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Management
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/goods">Goods positions</a></li>
                        <li><a class="dropdown-item" href="/warehouse_goods">Goods at warehouse</a></li>
                        <li><a class="dropdown-item" href="/orders">Orders management</a></li>
                        <li><a class="dropdown-item" href="/suppliers">Suppliers</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- required to work with orderDto-->
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">New Order</h5>
        <p class="card-text">Total price</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Create</a>
        <a href="#" class="card-link">Cancel</a>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 75px">
    <div class="col" th:each="goodsItem : ${goodsItems}">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="${goodsItem.goodsName}">Goods</h5>
                <p class="card-text" th:text="'Price per one: $' + ${goodsItem.goodsPrice}">Price</p>
                <p class="card-text" th:text="'Amount: ' + ${goodsItem.amount}">Amount</p>
                <p class="card-text" th:text="'Total price: $' + ${goodsItem.totalPrice}">Amount</p>
<!--                add button 'Add  to order'-->
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>
